*{
padding:0;
margin:0;
}


body{
background:#0F3D48;
font-size:16px;
color:#0F3D48;
font-family: helvetica,arial,sans-serif;
padding:0 10px;
}


h1{
color: #0F3D48; 
font-size: 65pt; 
text-align: center; 
}


h3{
font-weight: normal; 
float:left; 
font-family:georgia,serif;
}

h4{
  margin: 10px 0;
}

h4#hashtag{
	float: left;
	margin-right: 5px;
}

a{
color:#366774; 
text-decoration:none;
}

p.clear{
	clear: both;
}


p.hashtag_search{
	float: left;
	font-weight: bold;
	margin-top: 10px;
}


#wrapper{
max-width:700px; 
background:#ECECE7; 
margin:50px auto; 
-webkit-border-radius: 10px; 
-moz-border-radius: 10px; 
border-radius: 10px; 
padding: 20px;
-webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.35);
-moz-box-shadow:7px 7px 5px rgba(0, 0, 0, 0.35);
box-shadow:7px 7px 5px rgba(0, 0, 0, 0.35);}


#wrapper header{
margin-bottom:20px;
}


#wrapper #container article{
position:relative; 
background:#FBFCF9; 
margin:0 2% 20px; 
padding:10px; 
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
border-radius: 5px; 
-webkit-box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow:3px 3px 1px rgba(0, 0, 0, 0.2);
box-shadow:3px 3px 1px rgba(0, 0, 0, 0.2);
}


#wrapper #container article:first-of-type{
margin-top: 10px;
}



.date{
color: #366774; 
float: right; 
font-family: monospace; 
font-size: 9pt; 
margin: 8px 5px 0;
}


.post-exerpt{
font-size: 11pt; 
padding: 10px; 
border-top: 1px solid #E96151; 
clear: both;
}


.more-link a{
  color:#E96151;
}


.current_post h2{
margin-bottom: 20px;
}


.current_post h4{
  margin: 10px 0;
}


.anchor{
  margin: 10px 0;
}


.comments{
border:1px solid black;
padding: 0 10px;
margin: 5px 0;
border-radius: 5px; 
-webkit-border-radius: 5px; 
-moz-border-radius: 5px; 
}

.comment-date{
  font-style: italic;
  margin-top: 10px;
  font-size: 9pt;
  margin-bottom: 10px;
}